@import '../../styles/variables.scss';

.contact-list {
  &__item {
    display: flex;

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-notification {
      border-radius: 50%;
      background: $corol;
      width: 15px;
      height: 15px;
      line-height: 15px;
      color: $white;
      text-align: center;
      font-size: 12px;
      font-weight: 600;
    }

    &-info-top,
    &-info-bottom {
      display: flex;
      justify-content: space-between
    }

    &-info-bottom {
      p {
        width: 250px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        opacity: 0.5;
      }
      img {
        margin-left: 4px;
      }
    }

    &-avatar {
      position: relative;
      height: 40px;
      margin-right: 5px;
      img {
        width: 40px;
        height: 40px;
      }
      &--isOnline {
        &::before {
          content: '';
          position: absolute;
          bottom: 0px;
          right: 0px;
          border-radius: 50%;
          height: 7px;
          width: 7px;
          background-color: #00c980;
          box-shadow: 0px 0px 0px 3px white;
        }

      }
    }
  }
}
