@import '../../styles/variables.scss';

.contact-list {
  &__item {
    display: flex;

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-info-top,
    &-info-bottom {
      display: flex;
      justify-content: space-between
    }

    &-info-bottom {
      margin-top: 4px;
      p {
        width: 250px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      img {
        margin-left: 4px;
      }
    }

    &-avatar {
      height: 40px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
