@import '../../styles/variables';
@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));
  
    @return $randomNum;
  }

.audio {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    &__button {
        cursor: pointer;
        color: white;
        background: transparent;
        outline: none;
        border: none;
        margin-right: 15px;
        z-index: 2;

        &--play {
            border-left: 15px solid white;
            border-bottom: 15px solid transparent;
            transform: rotate(135deg);
        }

        &--pause {
            &::before {
                content: '';
                width: 5px;
                height: 21px;
                display: block;
                border-left: 5px solid white;
                border-right: 5px solid white;
            }
        }
    }

    &__time {
        color: white;
        font-weight: 600;
        z-index: 2;
    }

    &__wave {
        width: 165px;
        z-index: 2;
    }

    &--playing {
        position: absolute;
        height: inherit;
        left: 0;
        border-radius: 12px 12px 12px 0px;
        padding: 10px 12px;
        background: #6796ff;
        opacity: 0.7;
    }
}
.message__audio {
}