@import '~antd/lib/input/style/index.css';
@import '~antd/lib/form/style/index.css';
@import '~antd/lib/checkbox/style/index.css';
@import '~antd/lib/icon/style/index.css';
@import '../../styles/variables';

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__top {
        text-align: center;
        margin-bottom: 50px;
        h2 {
            font-size: 24px;
            margin-bottom: 0;
            margin-bottom: 5px;
        }
        p {
            font-size: 18px;
            line-height: 21px;
            letter-spacing:1;
            opacity: 0.5;
            
        }
    }

    &__success {
      text-align: center;
      letter-spacing: 0.1px;
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      .info-icon {
        margin-bottom: 10px;
      }
      
      h2 {
        margin-bottom: 10px;
      }

      p {
        color: $grey-10;
        line-height: 24px;
      }
    }
    .chat-block {
        width: 430px;
    }
    .login-form {
        width: inherit;
      }
      .login-form-forgot {
        float: right;
      }
      .ant-col-rtl .login-form-forgot {
        float: left;
      }
      .login-form-button {
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.1px;
        width: 100%;
        text-transform: uppercase;
      }
      .login-form-register {
        text-align: center;
        a {
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.1px;
          color: $grey-10;
          
          &:hover {
            color: #1890ff;
          }
        }
      }
}