
*{
    padding: 0;
    margin: 0;
}

body, html, #root, .wrapper {
    height: 100%;
    font-size: 14px;
    background-color: #F4F7FD;
}

a {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-text-decoration-skip: objects;
}