@import '../../styles/variables';

.message {
  $self: &;
  display: flex;


    &__content {
      display: flex;
      max-width: 440px;
      margin-bottom: 15px;
      flex-direction: column;
    }

    &__info {
      display: flex;
    }

    &__attachements {
      display: flex;
      margin-bottom: 10px;
      &-item {
        img {
          cursor: pointer;
          width: 45px;
          height: 45px;
          border-radius: 8px;
          margin-right: 5px;
        }

        &--single {
          img {
            width: 100px;
            height: 100px;
          }
        }

      }
    }

    &--isme {
      display: flex;
      flex-direction: row-reverse;
      #{$self}__content {
        margin-bottom: 15px;
        text-align: right;
        position: relative;
        img {
          position: absolute;
          bottom: 22px;
          left: -20px;
        }
      }
      #{$self}__avatar {
        img {
          margin-right: 0;
          margin-left: 13px;
        }
      }
      #{$self}__bubble {
        background: $white;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.20);
        border-radius: 12px 12px 12px 0px;
        padding: 10px 12px;
        margin-bottom: 8px;
      }
      #{$self}__text{
        color: $black-10;
      }
    }

    &__avatar {
      display: flex;
      flex-direction: column-reverse;
      margin-right: 13px;
      margin-bottom: 17px;
    }
    
    &__bubble {
      background: $blue;
      box-shadow: 0px 5px 5px rgba(54, 116, 225, 0.20);
      border-radius: 12px 12px 12px 0px;
      padding: 10px 12px;
      margin-bottom: 8px;
    }

    &__text {
      
      color: $white;
      line-height: 20px;
    }

    &__typing {
      justify-content: space-between;
      will-change: transform;
      display: table;
      animation: 2s bulge infinite ease-out;
      align-items: self-end;
      border-top-left-radius: 0;
      animation: 2s bulge infinite ease-out; 

      span {
        height: 5px;
        width: 5px;
        float: left;
        margin: 0 1px;
        background-color: $white;
        display: block;
        border-radius: 50%;
        opacity: 0.4;

        &:nth-of-type(1) {
          animation: 1s blink infinite 0.3333s; 
        }
        &:nth-of-type(2) {
          animation: 1s blink infinite 0.6666s; 
        }
        &:nth-of-type(3) {
          animation: 1s blink infinite 0.9999s; 
        }
      }
    }
}

// Animations
@keyframes blink {
  50% {
    opacity: 1; 
  } 
}
@keyframes bulge {
  50% {
    transform: scale(1.05); 
  } 
}
