@import '../../styles/variables';

.item {
    &__avatar {
        display: inline-flex; // removes 4px
        img {
        border-radius: 50px;
        width: 33px;
        height: 33px;
        object-fit: cover;
        }
        &--no-avatar {
            span {
                width: 40px;
                height: 40px;
                border-radius: 50px;
                text-align: center;
                line-height: 40px;
                font-size: 20px;
                color: white;
                font-weight: 500;
            }
        }
    }

    &__date {
        font-size: 12px;
        color: $black-10;
        opacity: 0.5;
    }
}